# Arquivos de Dados Biológicos (Sequências)
*.fasta
*.fastq
*.gb
*.genbank
*.pdb
*.sam
*.bam

# Arquivos de Saída e Resultados
*.csv
*.tsv
*.xlsx
*.pdf
*.png
*.jpg

# Arquivos Temporários e Logs
*.log
*.tmp
temp/

# Python (arquivos de sistema)
__pycache__/
*.pyc
